<%- include('partials/header') %>
 
<div class="container">
  <div class="card">
    <div class="card-header">
      <form method="POST" action="/">
        <h2>Infectado(a) pelo vírus</h2>
        <input placeholder="Name" name="name" type="text" id="name" class="form-control"><br>
        <button type="submit" class="btn btn-success">Possiveis infectados</button>
      </form>
    </div>
    <div class="card-body">
      <h2>Pessoas</h2>
        <ul>
          <%name.forEach(nome => {%>
            <li><%=nome%></li>
          <%})%>
        </ul>   
    </div>  
  </div>
  
</div>

    
<%- include('partials/footer') %>