* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

header {
  background: #009688;
  color: white;
  padding: 20px 0;
}

main {
  background-color: rgb(158, 158, 158);
}

.name {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#shownames {
  width: 960px;
  height: 2rem;
  margin: 0 auto;
  margin-top: 10px;
}

#shownames h2 {
  margin: 10px;
}

#shownames ul {
  text-align: center;
  list-style: none;
  display: flex;
  flex-flow: wrap column;
  max-height: 150px;
}

#footer {
  position: absolute;
  bottom: 0;
}

footer {
  width: 100%;
  background: #004d40;
  font-weight: bold;
  padding: 0.2rem;

  position: relative;
  bottom: 0;
}

footer p {
  margin: 0 auto;
  color: #fff;
}

canvas {
  display: block;
  margin: 0 auto;
}
